<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Client</title>
    
</head>
<body>
<div class="container">
    <h1>Edit Client</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                <p>{{ field }}</p>
                <p class="help-text">{{ field.help_text }}</p>
                {% for err in field.errors %}
                    <p class="error">{{ err }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <input type="submit" value="Save">
    </form>
    <div class="back-button">
        <a href="{% url 'entities:user' %}"><button>Go back</button></a>
    </div>
</div>
</body>
</html>