{% extends "extender.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our History</title>
   
</head>
<body>
<header>
    <a href="{% url 'entities:about' %}"><button>Back</button></a>
</header>
<div class="content">
    <h1>Company Bio</h1>
    {% if info %}
    <h2>By Years</h2>
   
    <div class="year-section">
        <img src="{{el.picture.url}}" alt="Description of the image" width="300">
        <p><b>Year:</b> {{info.date|date:"Y"}}</p>
        <p><b>Logo:</b> {{info.logo}}</p>
        <p><b>Bio:</b> "{{info.bio}}"</p>
        <p><b>Contacts:</b> {{info.requisites}}</p>
        {%for li in sponsors%}
        <a href="{{li.name}}">
            <img src="{{li.picture.url}}" alt="Description of the image" width="300">
        </a>
        {%endfor%}
        <!-- {%for sponsor in el.sponsors%} -->
            <!-- <img src="{{el.sponsors.picture.url}}" alt="Description of the image" width="300"> -->
        <!-- {%endfor%} -->
    </div>
    {% else %}
    <h2>No History</h2>
    {% endif %}
</div>
</body>
</html>
{% endblock content %}