{% extends "extender.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coupons</title>
   
</head>
<body>
<header>
    <a href="{% url 'entities:about' %}"><button>Back</button></a>
</header>
<div class="content">
    <h1>Coupons</h1>
    {% if coupons %}
        {% for el in coupons %}
        <div class="coupon">
            <p><b>Name:</b> {{el.name}}</p>
            <p><b>Expire date:</b> {{el.end_date}}</p>
            <p><b>Description:</b> {{el.description}}</p>
            <p><b>Code:</b> {{el.code}}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No coupons</p>
    {% endif %}
</div>
</body>
</html>
{% endblock content %}