{% extends "extender.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor</title>
   
</head>
<body>

<header>
    Instructor Profile
</header>

<div class="container">
    <div class="button-group">
        <a href="{% url 'entities:homepage' %}"><button>Club</button></a>
        <a href="{% url 'entities:logout' %}"><button>Log out</button></a>
        <a href="{% url 'entities:change_instructor' %}"><button>Edit instructor's profile</button></a>
    </div>

    <div class="profile" align="center">
        <img src="{{instructor.photo.url}}" alt="Instructor Photo">
        <p><b>Name: </b> {{instructor.first_name}} {{instructor.last_name}}</p>
        <p><b>Phone number: </b>{{instructor.phone_number}}</p>
        {% if instructor.bio %}
        <p><b>Biography: </b>{{instructor.bio}}</p>
        {% else %}
        <p>There is no bio yet</p>
        {% endif %}
    </div>

    <div class="schedule" align="center">
        <h2>Your Schedule</h2>
        {% if schedule %}
        {% for service in schedule %}
        <h3>Service:</h3>
        <p><b>Service category: </b>{{service.typeOfservice}}</p>
        <p><b>Group: </b>{{service.group.name}}</p>
        <p><b>Hall: </b>{{service.hall.hall_name}}</p>
        <p><b>Start time: </b>{{service.start_time}}</p>
        <p><b>End time: </b>{{service.end_time}}</p>
        <p><a href="{% url 'entities:service_clients' service.id %}"><button>Clients</button></a></p>
        <br/>
        {% endfor %}
        {% else %}
        <p>You have no services for today yet</p>
        {% endif %}
    </div>
</div>

</body>
</html>
{% endblock content %}
