{% extends "extender.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Club Stats</title>

</head>
<body>
    <header>
        <a href="{% url 'entities:homepage' %}"><button>Back</button></a>
    </header>
    <div class="content">
        <h1>Club Stats</h1>

        <h2>Clients</h2>
        <ul>
            {% for client in clients %}
                <li>{{ client.first_name }} {{ client.last_name }} - Age: {{ client.age }} - Expenses: {{ client.costs }}</li>
            {% endfor %}
        </ul>

        <h2>Total Income</h2>
        <p>{{ total_costs }}</p>

        <h2>Average Costs by Client</h2>
        <p>{{ avg_costs }}</p>

        <h2>Average Clients Age</h2>
        <p>{{ avg_age }}</p>

        <h2>Service by 30 Days</h2>
        <ul>
            {% for group in group_workouts %}
                <li>{{ group.name }} - {{ group.total_services }}</li>
            {% endfor %}
        </ul>

        <h2>Price for Client</h2>
        <ul>
            {% for client in client_services %}
                <li>{{ client.first_name }} {{ client.last_name }} - {{ client.total_services }}</li>
            {% endfor %}
        </ul>

        <h2>The Most Popular Type of Service</h2>
        <ul>
            {% for category in service_categories %}
                <li>{{ category.typeOfservice }} - {{ category.count }}</li>
            {% endfor %}
        </ul>

        <h2>The Most Profitable Category</h2>
        <ul>
            {% for category in profitable_services %}
                <li>{{ category.typeOfservice }} - {{ category.total_revenue }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer-links">
        <a href="{% url 'entities:delinst' %}"><button>Select</button></a>
        <a href="{% url 'entities:createinst' %}"><button>Create</button></a>

        
        <a href="{% url 'entities:age_distrib' %}"><button>Age Distribution Chart</button></a>
        <a href="{% url 'entities:service_distrib' %}"><button>Service Distribution Chart</button></a>
    </div>
</body>
</html>
{% endblock content %}